<html>

<head>
    {% load static %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- BEGIN JS scripts -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
<!--    <script-->
<!--      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--      crossorigin="anonymous"-->
<!--    ></script>-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.min.js"></script>

    <!-- BEGIN Custom JS Scripts-->
    <script src="{% static 'assets/js/main_app.js' %}" ></script>
    <script src="{% static 'assets/js/google_map_lib.js' %}" ></script>
     <!-- END Custom JS Scripts-->

    <!-- BEGIN CSS scripts -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- END CSS scripts -->
    <title>Coca Demo</title>
</head>

  <body class="container">
    <div id="map-container">
      <div id="map"></div>
    </div>

    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkmsHwd8Z0bdIDg1Q41qBS9hE1tl3kNek&callback=initializeCustomLib"
    ></script>
</body>

</html>